#main-heading {
    color:red;
    text-align: center;
}

.subheading {
    font-family: 'Times New Roman', Times, serif;
}

.para {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.btn {
    height: 100px;
    width: 200px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}